@import "~skeleton-framework/dist/skeleton.min.css";

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 800px;
}

.header {
  text-align: center;
  margin-top: 6rem;
}

label {
  text-align: left;
}

button {
  margin-top: 32px;
}
